     <!-- #team -->    
<div class="container-fluid" id="team">
	<div class="container dark">
		<h1>Meet the team</h1>
			<ul class="thumbnails">
			  <li class="span3">
			    <div class="thumbnail">
			      <img alt="" src="assets/img/1.png">
			      <h3>Wang Yahui</h3>
			      <p>Miao.</p>
			      <div class="social">
				      <img alt="" src="assets/img/linkedin.png">
				      <img alt="" src="assets/img/twitter.png">
				      <img alt="" src="assets/img/facebook.png">
				      <img alt="" src="assets/img/email.png">
			      </div>
			    </div>
			  </li>
			
			  <li class="span3">
			    <div class="thumbnail">
			      <img alt="" src="assets/img/1.png">
			      <h3>Mark</h3>
			      <p>Miao.</p>
			      <div class="social">
				      <img alt="" src="assets/img/linkedin.png">
				      <img alt="" src="assets/img/twitter.png">
				      <img alt="" src="assets/img/facebook.png">
				      <img alt="" src="assets/img/email.png">
			      </div>
			    </div>
			  </li>
			  
			  <li class="span3">
			    <div class="thumbnail">
			      <img alt="" src="assets/img/1.png">
			      <h3>Mark</h3>
			      <p>Miao.</p>
			      <div class="social">
				      <img alt="" src="assets/img/linkedin.png">
				      <img alt="" src="assets/img/twitter.png">
				      <img alt="" src="assets/img/facebook.png">
				      <img alt="" src="assets/img/email.png">
			      </div>
			    </div>
			  </li>
			
			  <li class="span3">
			    <div class="thumbnail">
			      <img alt="" src="assets/img/1.png">
			      <h3>Mark</h3>
			      <p>Miao.</p>
			      <div class="social">
				      <img alt="" src="assets/img/linkedin.png"/>
				      <img alt="" src="assets/img/twitter.png"/>
				      <img alt="" src="assets/img/facebook.png"/>
				      <img alt="" src="assets/img/email.png"/>
			      </div>
			    </div>
			  </li>
			 </ul>
		</div>
	</div>
<!-- End Team -->  
